.bookdisplay{
  margin: 4rem 0 6rem;

  &__control{
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__books{

    &--grid {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      grid-template-rows: repeat(2, minmax(200px, auto));
      grid-gap: 2rem;

      div:first-child{
        grid-column: 1 / 3;
      }
      div:last-child{
        grid-column: 2 / 4;
      }
    }

    &--accordion{
      .book-item:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
