.card{
  background-color: rgba(0, 0, 0, 0.5);
  //overflow: hidden;
  @include clearfix;

  img{
    float: left;
    margin-right: 2rem;
    width: 20%;
  }

  h2{
    color: $col-primary;
    margin: 1rem 0;
    font-size: 2rem;
  }

  p{
    color: $white;
    font-size: 1.4rem;
  }

  a {
    color: $col-primary;
  }
}
