.pagination{
  align-self: stretch;
  display: flex;
  align-items: stretch;
  color: $col-primary;

  &__button {
    padding: 0 1rem .5rem;
    color: inherit;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    border: 2px solid $col-primary;
    cursor: pointer;
    &:active, &:link, &:focus {
      outline: none;
    }
    &:disabled{
      cursor: initial;
      color: $grey1;
      border-color: $grey1;
    }
  }
}
