.toggle {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

  &__checkbox{
    display: none;
  }

  &__label{
    display: block; overflow: hidden; cursor: pointer;
    //border: 2px solid #999999;
    border-radius: 20px;
  }

  &__inner{
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &::before, &::after{
      display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
      font-size: 15px; color: white; font-family: 'Oswald', sans-serif; font-weight: bold;
      box-sizing: border-box;
    }
  }
}

.toggle__inner:before {
  content: "GRID";
  padding-left: 10px;
  background-color: $col-primary; color: #FFFFFF;
}
.toggle__inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.toggle__switch {
  display: block; width: 23px; margin: 3.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 60px;
  border: 1px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle__checkbox:checked + .toggle__label .toggle__inner {
  margin-left: 0;
}
.toggle__checkbox:checked + .toggle__label .toggle__switch {
  right: 0px;
}
