h1 {
  color: $col-primary;
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.subheader{
  color: $col-primary;
  margin-left: 1rem;
}

h3{
  color: $col-primary;
  font-size: 3rem;
  @include absCenter;
}
